<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Square Root Generator</title>
</head>
<body>
    <h1>Application</h1>
    <div style="border: solid black 1px;">
        <form method="post" action="" id="form">
        <strong>Name:</strong> <input name="name" type="text">
        <strong>Email Address:</strong> <input name="email" type="email"><br>
        <strong>GPA:</strong> <input type="number" name="gpa" step="0.01" min="0.0" max="4.0" style="margin: 10px;" ><br>
        <strong>Background Information: </strong><br>
        <textarea name="paragraph" rows="4" cols="50"></textarea>

    </div>
      <input type="reset" value="Reset">
      <input type="submit" value="Submit Application">
      </form>
      <hr>
      <h3><a href="/">HOME</a></h3>
    <script>
        const form = document.getElementById("form");
        const {hostname, port} = window.location()

        const url = `http://${hostname}:${port}/apply`;

        form.action = url;

    </script>
</body>
</html>