<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Square Root Generator</title>
</head>
<body>
    <h1>Welcome to Terps Summer Camp</h1>
    <h2><strong>Applicant</strong></h2>
    <ul>
        <li>To apply select <a href="/apply">Application</a></li>
        <li>To review/update an application select <a href="/review">Review Application</a></li>
    </ul>
    <hr>
    <h2><strong>Admin</strong></h2>
    <ul>
        <li>To select users based on gpa  <a href="/gpaList">Select by GPA</a></li>
        <li>To remove all applications <a href="/removeApp"> Remove all Application </li>
    </ul>
    <hr>

</body>
</html>
